*{
    padding: 0;
    margin: 0;
}

html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;

}
.main{
    position: relative;
    width: 100%;
    height: 100%;
}
.container{
    padding-top: 50px;
    position: absolute;
    height: 90%;
    width: 90%;
    top: 5%;
    display: flex;
    justify-content:center;
    gap: 10%;
    text-align: center;


}

.same{
    width: 200px;
  border: 2px solid darkgreen ; 
  height: 200px; 
  padding: 10px;
  background-color: whitesmoke;
  font-weight: 50;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 10px;
   box-shadow: 0 5px 5px rgb(62, 58, 58,0.8);
}
.same:hover{
    box-shadow: 0 5px 5px rgb(62, 58, 58,0.8);
}
input{
    width: 80px;
    padding: 5px;
    margin: 3px;
    border-radius: 3px;
    border: 2px solid  rgb(150, 192, 111);
}
button{
    background-color: darkgreen;
    border: 1px solid white;
    padding: 7px;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}
button:hover{
    box-shadow: 0px 3px 3px  rgb(62, 58, 58,0.8);
    transition:cubic-bezier(0.19, 1, 0.22, 1);
}


img{
    width: 100%;
    height: 100%;
   object-fit: cover;
}
input:focus{
    outline:none;
    border-color: darkgreen;
}
#same{
    font-size: 20px;
    width: 100px;
    line-height: 1.5 rem;
}
#same::first-letter{
    font-size: 40px;
    color: white;
}
.nav{
    background-color: whitesmoke;
}
