*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.container{
    position: absolute;
    width: 200px;
    height:250px;
    border: 1px solid rgb(247, 198, 21);
    padding: 20px;
    box-shadow: 0px 5px 5px rgb(56, 50, 50);


}
.container:hover{
       box-shadow: 0px 5px 5px rgb(136, 121, 121);
}
img{
    height: 100%;
    width: 100%;
    

}
button{
    margin-top: 15px;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid rgb(247, 198, 21);
    background-color: forestgreen;
    color: white;
}