*{
    margin: 0;
    padding: 0;


}
html,body{
    width: 100%;
    height:100%;
    box-sizing: border-box;
}

.main{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;



}
.container{
    height: 250px;
    width: 250px;
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
}
input{
    margin-bottom: 30px;
    height: 30px;
    width: 150px;
    padding: 5px;
 border-radius: 3px;
}
button{
    background-color:rgb(5, 5, 5);
    height:40px;
    padding: 3px;
    border: 3px solid rgb(246, 235, 83);
    border-radius: 15px;
  color:rgb(246, 235, 83);
   
    margin-bottom: 50px;

    

}
button:hover{
    box-shadow: 0 5px 5px black ;
}
img{
    width: 100%;
    height: 100%;
}
h1{
    font-size: 25px;
    font-weight: 500;
    color: white;
}