*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}
body{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}
h4,h3{
    color:  rgb(43, 128, 91);
     color: #e5e7eb;     
    font-weight: 500;
}


.container{
    /* background-color: rgb(14, 13, 13,0.7); */
        background: rgba(40, 40, 40, 0.9);   
    width:15%;
   height:40%;
   padding: 20px;
   padding-top: 80px;
   border-radius: 5px;
   position: absolute;
   top:40%;
   left:40%

}
.container:hover{
    box-shadow: 5px 5px 5px black;
}
input{
  width: 50px;
  height: 25px;
  border: 1px solid rgb(81, 214, 60);
}

button{
margin: 7px;
width: 30px;
height: 40px;
border-radius: 10px;
border: none;
cursor:pointer;
color: white;

}
button:hover{
   box-shadow: 0 8px 20px rgba(0,0,0,0.25);  
}
.ele{
    margin-top: 60px;
}

#ele1 {
    background-color:  rgb(43, 128, 91);
  font-size:30px;
}

#ele2{
    background-color:  rgb(43, 128, 91);
  font-size:30px;
}

#ele3{
    background-color:  rgb(43, 128, 91);
 font-size: 30px;
}
#ele4{
    background-color: rgb(43, 128, 91);
     font-size:30px;
}
img{
    width: 100%;
    height: 100%;
}



