*{
    margin: 0%;
    padding: 0%;
}

html,body{
    height: 100%;
    width: 100%;
     font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.container{
   height:100%;
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative; 
  
    
}
img{
    width:110px;
   
}
.main{
    height: 300px;
    width: 200px;
  background-color: rgb(232, 155, 169);
    padding: 20px;
    border-radius: 10px;
     position: absolute; 
     border: 2px solid rgb(153, 124, 198);
     border: 2px solid black;
}
button{
    border-radius: 15px ;
    padding:10px;
   border:  2px solid rgb(153, 124, 198);
   background-color: rgb(251, 249, 249);
   color: rgb(6, 6, 6);
   cursor: pointer;
   box-shadow: 2px 2px 2px rgba(13, 14, 14, 0.35); ;
   margin-bottom: 60px;
}

input{
    padding: 6px;
    border:  2px solid rgb(153, 124, 198);


}
h3{
    color: rgb(10, 10, 10);
}
.container img{
    width: 100%;
    height: 100%;
}
h2{
    font-size: 20px;
}