*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  gap:5%;
  position: relative;

}
.container{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    border:2px solid black;
    padding: 20px;
    text-align: center;
    position: absolute;
    background-color: white;

}
button{
         background-color: black;
         color: white;
         padding: 10px;
         border-radius:10px;
         font-size: 15px;
         font-weight: 500;
         margin-bottom:15%;

}
button:hover{
    box-shadow: 0px 3px 3px rgb(79, 74, 74,0.7);
}

input{
    margin-bottom: 40px;
     font-weight: 500;
     width: 40px;
     height: 40px;
     padding: 3px;
}

.lin{
    width: 250px;
   position: absolute;
   left: 10%;
   top: 10%;
}
img{
    width: 100%;
    height: 100%;
}
.container:hover{
      box-shadow: 0px 5px 10px rgba(53, 47, 47, 0.7);
}
h5{
    font-weight: 500;
    border: 2px solid black ;
    margin-bottom: 10px;
}
/* h1{
    border: 2px solid black ;
} */

